<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">
        {{ partial "nav.html" . }}
        <header>
            <section id="about">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 text">
                            <h2 class="section-heading">About</h2>
                            <hr class="primary">
                            <p class="text-left">
                            The Center for the Cultivation of Technology is a German charity, which means that <a href="donate.html">donations to our projects are tax-deductible across Europe</a>.
                            </p>
                            <p class="text-left">
                                        We are currently developing a donation platform that will support donations to many more of our projects. It will not only support wire transfer but also donations via credit card, Paypal, Bitcoin and gift vouchers.
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center bottom-align">
                                <p>
                                    <a href="#team" class="btn btn-primary btn-xl page-scroll">Team</a>
                                    <a href="#board" class="btn btn-primary btn-xl page-scroll">Advisory Board</a>
                                    <a href="about.html#partners" class="btn btn-primary btn-xl page-scroll">Partners</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </header>

        <section id="partners">
             <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Partners</h2>
                        <hr class="primary">
                    </div>
                </div>
                <div class="row">
                     {{ range .Params.partner }}
                     <div class="col-xs-12 col-sm-4 col-lg-4 text-center">
                         <img src="/img/logos/{{ .logo }}" class="img-logo img-center img-responsive" alt="{{ .name }}">
                         {{ .text }}
                     </div>
                     {{ end }}
                </div>
			</div>
        </section>

        {{ partial "subscribe.html" . }}

        {{ partial "js.html" . }}

    </body>
</html>
