{{ "<!-- NAVIGATION -->" | safeHTML }}
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    
    <div class="container-fluid notice_rec">
            This space is being redesigned! Check back soon for our brand new website. 
    </div> 
    {{ "<!-- /.notice_rec-->" | safeHTML }}
    <div class="container-fluid">
        {{ "<!-- Brand and toggle get grouped for better mobile display -->" | safeHTML }}
        <div class="navbar-header">
            <a class="navbar-brand page-scroll" href="/">{{ with .Site.Params.navigation.brand }}{{ . |   markdownify }}{{ end }}</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        {{ "<!-- Collect the nav links, forms, and other content for toggling -->" | safeHTML }}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {{ $baseURL := .Site.BaseURL }}
                {{ range .Site.Params.navigation.links }}
                <li>
                    <a class="page-scroll" href="{{ .url }}">{{ with .text }}{{ . }}{{ end }}</a>
                </li>
                {{ end }}

            </ul>
        </div>
        {{ "<!-- /.navbar-collapse -->" | safeHTML }}
    </div>
    {{ "<!-- /.container-fluid -->" | safeHTML }}
</nav>
