{{ "<!-- SUBSCRIBE -->" | safeHTML }}
<section class="bg-primary" id="subscribe">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{ with .Site.Params.about.headline }}{{ . }}{{ end }}</h2>
                <hr class="light">
                <p class="text-faded">{{ with .Site.Params.about.description }}{{ . | markdownify }}{{ end }}</p>
            </div>
            <div class="col-lg-4 col-lg-offset-4 text-center">
                   <form method="POST" action="https://lists.techcultivation.org/mailman/subscribe/cct-announce">
                    <div class="formgroup">
                        <p>
                         <label class="sr-only" for="email">Email address</label>
                         <input name="email" id="email" placeholder="email address" type="email" class="form-control" required>
                        </p>
                        <input name="email-button" value="Subscribe to opening announcement" type="submit" class="btn btn-default">
                    </div>
                   </form>
                   <hr class="light">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <img src="/img/cct-white.svg" class="padding-30 img-responsive img-center">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="text-faded">All excited, and you want to help? <a href="contact.html">Check out our issue tracker and come visit us on IRC!</a></p>
            </div>            
        </div>
    </div>
</section>
