{{ "<!-- TEAM -->" | safeHTML }}
<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Team</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {{ range $index, $contact := .Params.team.member }}
            {{ if eq (mod $index 2) 0 }}
            <div class="clearfix visible-md-block"></div>
            {{ end }}
            <div class="col-lg-4 col-md-6 text-center">
                <div class="team-box">
                    <h3>{{ .name }}</h3>
                    <p>
                        <img src="img/{{ .photo }}" class="img-responsive center-block" alt="Photo of {{.name }}">
                    </p>
                    <p class="text-muted text-justify">
                        {{ .text }}
                    </p>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>

 {{ "<!-- BOARD -->" | safeHTML }}
<section id="board">
    <div class="container">
        <div class="row">
           <div class="col-lg-12 text-center">
                <h2 class="section-heading">Advisory Board</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {{ range .Params.board.member }}
            <div class="col-lg-3 col-md-6 text-center board-box">
                    <h3>{{ .name }}</h3>
                    <p class="text-muted">
                        {{ .affiliation }}
                    </p>
            </div>
            {{ end }}
        </div>
    </div>
</section>
