<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">
        {{ partial "nav.html" . }}
        <header>

        <section id="donate">
            <div class="container">
                <div class="row">
                        <h2 class="section-heading">Donations</h2>
                    <div class="col-lg-8 col-lg-offset-2 text-left text">
   
                    <hr>
                    <p>To donate to CCT via SEPA wire transfer, use:</p>
                    <blockquote>
                        Account holder: Center for the Cultivation of Technology
                        <br>Reference: <kbd>DONTATION-X3DJL9WX</kbd> 
                        <br>IBAN: <kbd>DE65 4306 0967 4111 9411 01</kbd> 
                        <br>BIC: <kbd>GENODEM1GLS</kbd>
                        <br>Bank: GLS Gemeinschaftsbank, Christstrasse 9, 44789 Bochum, Germany.
                    </blockquote>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text">
                        <hr class="primary">
                        <p class="text-left">
The Center for the Cultivation of Technology is a German charity, which means that donations to us or our projects are tax-deductible across Europe.
<br><br>
<a href='documents/cct-vereinfachter-spendennachweis.pdf'>For Germany, you can download a general donation receipt</a> that together with your bank statement is sufficient to claim taxes on donations up to 300€.
<br><br>
For other European countries and larger donations, we're happy to provide individual donation receipts and work with you on their recognition. For that, please send us your full name and postal address and the date of your transaction to <code>donate<span class="hidden">.nospam</span>@techcultivation.org</code>.
                        </p>
                        <p class="text-left german">Wir sind eine gemeinnützige Organisation, somit können Spenden an uns und unsere Projekte europaweit von der Steuer abgesetzt werden. Für Spenden bis 300€ reicht der Kontoauszug zusammen mit <a href="documents/cct-vereinfachter-spendennachweis.pdf">unserem vereinfachten Spendennachweis</a>, für größere Spenden schicke uns bitte deine Postanschrift und das Datum der Spende.</p>
                   
                    </div>
                </div>
                <!--<div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                        <a href="#tails" class="btn btn-primary btn-xl page-scroll">Donate to Tails</a>
                    </div>
                </div>-->
            </div>
        </section>
		<section id="privacy">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-left text">
                    <h3>Privacy Policy</h3>
                    <hr>
                    <p>We do not record IP addresses. We do not even share your data with the affiliated projects without your explicit permission, and we won't send you any communication apart from what is necessary to process your donation (no, we won't sign you up automatically for any newsletters).
                    </p>
                    <p>
                    We have a legal obligation to keep transaction data for accounting purposes, but we make every effort to protect the data and only disclose it when necessary (for financial auditing or other legal reasons).
                    </p>
                    <p>
                    The transaction codes listed below help us map donations to projects, but they are static per project and are not generated individually.
                    </p>
                    </div>
                </div>
            </div>
		</section>
<!-- 
        <section id="tails">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-left text">
                    <h3>Donate to Tails</h3>
                    <hr>
                    <p>To donate to the Tails project via SEPA wire transfer, use:</p>
                    <blockquote>
                        Account holder: Center for the Cultivation of Technology<br>
                        Subject: <kbd id="transactionId">TAILS-R43NGFR9</kbd>
                        <br>IBAN: <kbd>DE65 4306 0967 4111 9411 01</kbd> 
                        <br>BIC: <kbd>GENODEM1GLS</kbd>
                        <br>Bank: GLS Gemeinschaftsbank, Christstrasse 9, 44789 Bochum, Germany.
                        <p class="btn btn-link" data-toggle="modal" data-target="#qrcode"><i class="fas fa-qrcode" aria-hidden="true"></i> Show QR Code</p>
                    </blockquote>
                         <div id="qrcode" class="modal fade" tabindex="-1" role="dialog">
                             <div class="modal-dialog">
                                 <div class="modal-body">
                                     <img src="img/qr-tails.png" class="img-responsive">
                                 </div>
                             </div>
                         </div>
                    <p>For US ACH wire transfers, use:<p>
                    <blockquote>
                        Account holder: TransferWise FBO Center For The Cultivation Of Technology Gmbh<br>Subject: <kbd id="transactionId2">TAILS-R43NGFR9</kbd>
                        <br>Account number: 8310006087<br>ACH Routing number: 026073150<br>Wire routing number: 026073008<br>Bank: Transferwise, 19 W 24th Street, New York 10010, USA.
                    </blockquote>
                    <p>
                    We are working on support for donations by credit card, Paypal, Bitcoin and gift vouchers.
                    </p>
                    </div>
                </div>
            </div>
        </section> 
-->

        </header>

        {{ partial "subscribe.html" . }}

        {{ partial "js.html" . }}
        <script src="js/clipboard.min.js"></script>
    <!-- instantiate clipboard by passing a list of HTML elements -->
    <!--
    <script>
    var kbds = document.querySelectorAll('clip');
    var clipboard = new Clipboard(kbds);
    clipboard.on('success', function(e) {
        console.log(e);
    });
    clipboard.on('error', function(e) {
        console.log(e);
    });
    </script>
    -->
    </body>
</html>
