<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">
        {{ partial "nav.html" . }}
        <header>

        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text">
                        <h2 class="section-heading">Donations</h2>
                        <hr class="primary">
                        <p class="text-left">
The Center for the Cultivation of Technology is a German charity, which means that donations to our projects are tax-deductible across Europe.
<br><br>
<a href='documents/cct-vereinfachter-spendennachweis.pdf'>For Germany, you can download a general donation receipt</a> that together with your bank statement is sufficient to claim taxes on donations up to 200€.
<br><br>
For other European countries and larger donations, we're happy to provide individual donation receipts. For that, please send us your full name and postal address and the date of your transaction to <code>donate<span class="hidden">.nospam</span>@techcultivation.org</code>.
                        </p>
                        <p class="text-left german">Wir sind eine gemeinnützige Organisation, somit können Spenden an uns europaweit von der Steuer abgesetzt werden. Für Spenden bis 200€ reicht der Kontoauszug zusammen mit <a href="documents/cct-vereinfachter-spendennachweis.pdf">unserem vereinfachten Spendennachweis</a>, für größere Spenden schicke uns bitte deine Postanschrift und das Datum der Spende.</p>
                    </div>
                </div>

                <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-left text">
                    <h3>Donate to Tails</h3>
                    <hr>
                    <p>To donate to the Tails project via SEPA wire transfer, use:</p>
                    <blockquote>
                        Account holder: Center for the Cultivation of Technology<br>
                        Subject: <clip data-clipboard-target="#transactionId"><kbd id="transactionId">R43NGFR9 TAILS</kbd> <p class="btn btn-link"><i class="fa fa-copy" aria-hidden="true"></i> Copy Subject</p></clip> <p class="btn btn-link" data-toggle="modal" data-target="#qrcode"><i class="fa fa-qrcode" aria-hidden="true"></i> Show QR Code</p> 
                        <br>IBAN: <clip data-clipboard-text="DE65430609674111941101"><kbd>DE65 4306 0967 4111 9411 01</kbd> <p class="btn btn-link"><i class="fa fa-copy" aria-hidden="true"></i> Copy IBAN</p></clip>
                        <br>BIC: <clip data-clipboard-text="GENODEM1GLS"><kbd>GENODEM1GLS</kbd> <p class="btn btn-link"><i class="fa fa-copy" aria-hidden="true"></i> Copy BIC</p></clip>
                        <br>Bank: GLS Gemeinschaftsbank, Christstrasse 9, 44789 Bochum, Germany.
                    </blockquote>
                         <div id="qrcode" class="modal fade" tabindex="-1" role="dialog">
                             <div class="modal-dialog">
                                 <div class="modal-body">
                                     <img src="img/qr-tails.png" class="img-responsive">
                                 </div>
                             </div>
                         </div>
                    <p>For US ACH wire transfers, use:<p>
                    <blockquote>
                        Account holder: Center for the Cultivation of Technology<br>Subject: <clip data-clipboard-target="#transactionId2"><kbd id="transactionId2">R43NGFR9 TAILS</kbd> <p class="btn btn-link clip"><i class="fa fa-copy" aria-hidden="true"></i> Copy</p></clip><br>Account number: 8310006087<br>ACH Routing number: 026073150<br>Wire routing number: 026073008<br>Bank: Transferwise, 19 W 24th Street, New York 10010, USA.
                    </blockquote>
                    <p>
                    We are working on support for donations by credit card, Paypal, Bitcoin and gift vouchers.
                    </p>
                </div>
            </div>
        </section>
        </header>

        {{ partial "subscribe.html" . }}

        {{ partial "js.html" . }}
        <script src="js/clipboard.min.js"></script>
    <!-- instantiate clipboard by passing a list of HTML elements -->
    <!--
    <script>
    var kbds = document.querySelectorAll('clip');
    var clipboard = new Clipboard(kbds);
    clipboard.on('success', function(e) {
        console.log(e);
    });
    clipboard.on('error', function(e) {
        console.log(e);
    });
    </script>
    -->
    </body>
</html>
